<!DOCTYPE html>
<html>
  <head>
    <title>Bike marauder's map | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> Bike marauder's map</h1>
    <p><%=texts.WELCOME_MSG %> Bike marauder's map.</p>
    <div id="mapdiv"></div>
    <p class="footer">
      <span><%=texts.HOME_PAGE %></span>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>

    <script type="text/javascript">
        function resizeMap () {
          document.getElementById('mapdiv').style.height = ((document.innerHeight || document.documentElement.clientHeight)*(2/3)) + 'px';
          document.getElementById('mapdiv').style.width = ((document.innerWidth || document.documentElement.clientWidth)*(0.70)) + 'px';
        };
        window.addEventListener('resize', resizeMap);
        resizeMap();

        var data = [{lat: 48.6597597, lng:7.21657276}, {lat: 48.6536776, lng:7.23603487}, {lat: 48.6538884, lng:7.2455978}, {lat: 48.64844489, lng:7.259974478}];
        var map;

        function initMap() {
          map = new google.maps.Map(document.getElementById('mapdiv'), {
            zoom: 12,
            mapTypeId: 'terrain'
          });

          
          data.forEach(addMarker)
        }

        function addMarker(location) {
          map.setCenter(location);
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
          var path = new google.maps.Polyline({
            path: data,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          path.setMap(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key %>&callback=initMap"></script>
  </body>
</html>
