<!DOCTYPE html>
<html>
  <head>
    <title>Bike marauder's map | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="home">
    <div id="mapdiv" class="map" style="height: 100%"></div>
    
    <div class="footer-map">
      <h1>Bike marauder's map</h1>
    </div>

    <script type="text/javascript">
        function resizeMap () {
          document.getElementById('mapdiv').style.height = ((document.innerHeight || document.documentElement.clientHeight)) + 'px';
        };
        window.addEventListener('resize', resizeMap);
        resizeMap();
        
        function MenuControl(controlDiv, map, title, text, cb) {

          var controlUI = document.createElement('div');
          controlUI.style.backgroundColor = '#fff';
          controlUI.style.border = '2px solid #fff';
          controlUI.style.borderRadius = '3px';
          controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
          controlUI.style.cursor = 'pointer';
          controlUI.style.marginLeft = '1em';
          controlUI.style.marginBottom = '1em';
          controlUI.style.textAlign = 'center';
          controlUI.title = text;
          controlDiv.appendChild(controlUI);

          var controlText = document.createElement('div');
          controlText.style.color = 'rgb(25,25,25)';
          controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
          controlText.style.fontSize = '16px';
          controlText.style.lineHeight = '38px';
          controlText.style.paddingLeft = '5px';
          controlText.style.paddingRight = '5px';
          controlText.innerHTML = title;
          controlUI.appendChild(controlText);
          

          controlUI.addEventListener('click', cb);

        }

        var map, data, lastUpdate;

        function initMap() {
          map = new google.maps.Map(document.getElementById('mapdiv'), {
            zoom: 12,
            mapTypeId: 'terrain'
          });
          var menuControlDiv = document.createElement('div');
          var menuControl1 = new MenuControl(menuControlDiv, map, '<%=texts.USERS_LIST %>', '<%=texts.GO_TO_USERS_LIST %>', function () {
              window.location.pathname = '/users';
          });
          var menuControl2 = new MenuControl(menuControlDiv, map, '<%=texts.LOGOUT %>', '<%=texts.LOGOUT %>', function () {
              window.location.pathname = '/logout';
          });

          menuControlDiv.index = 1;
          map.controls[google.maps.ControlPosition.LEFT_CENTER].push(menuControlDiv);
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/coords/');
          xhr.addEventListener('load', function () {
            data = JSON.parse(xhr.response);
            var people = [];
            data.forEach(function (obj) {
              obj.lat = Number(obj.lat);
              obj.lng = Number(obj.lng);
              var k = peopleExists(obj, people);
              if (!k) {
                people.push({
                  number: obj.number,
                  name: obj.contact,
                  color: getRandomColor(),
                  path: [{lat:  Number(obj.lat), lng:  Number(obj.lng), date: obj.date}]
                });
              } else {
                people[k].path.push({lat:  Number(obj.lat), lng:  Number(obj.lng), date: obj.date})
              }
            });
            people.forEach(function (person) {
              addPath(person)
            });
            lastUpdate = (new Date()).getTime();
          });
          xhr.send();
        }

        function addMarker(location, name, number) {
          map.setCenter(location);
          var d = (new Date ());
          d.setTime(location.date);
          var infowindow = new google.maps.InfoWindow({
            content: '<h3>' + name + '</h3><p><%=texts.PHONE_NUMBER %>: ' +  number + '</p><p><%=texts.COORDINATES_GOT_AT %>: ' +  d.getHours() + 'h' + d.getMinutes() + '</p>'
          });
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }

        function addPath (person) {
          var path = new google.maps.Polyline({
            path: person.path,
            geodesic: true,
            strokeColor: person.color,
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          path.setMap(map);
          person.path.forEach(function (location) {
            addMarker(location, person.name, person.number);
          });
        };

        function peopleExists (obj, people) {
          for (var k in people) {
           if (people[k].name == obj.contact){
             return k;
           }
          }
          return false;
        }

        function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key %>&callback=initMap"></script>
  </body>
</html>
