<!DOCTYPE html>
<html>
  <head>
    <title>Bike marauder's map | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> Bike marauder's map</h1>
    <p><%=texts.WELCOME_MSG %> Bike marauder's map.</p>
    <div id="mapdiv"></div>
    <p class="footer">
      <span><%=texts.HOME_PAGE %></span>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>

    <script type="text/javascript">
        function resizeMap () {
          document.getElementById('mapdiv').style.height = ((document.innerHeight || document.documentElement.clientHeight)*(2/3)) + 'px';
          document.getElementById('mapdiv').style.width = ((document.innerWidth || document.documentElement.clientWidth)*(0.70)) + 'px';
        };
        window.addEventListener('resize', resizeMap);
        resizeMap();
        var map, data, lastUpdate;

        function initMap() {
          map = new google.maps.Map(document.getElementById('mapdiv'), {
            zoom: 12,
            mapTypeId: 'terrain'
          });

          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/coords/');
          xhr.addEventListener('load', function () {
            data = JSON.parse(xhr.response);
            var people = [];
            data.forEach(function (obj) {
              obj.lat = Number(obj.lat);
              obj.lng = Number(obj.lng);
              var k = peopleExists(obj, people);
              if (!k) {
                people.push({
                  number: obj.number,
                  name: obj.contact,
                  color: getRandomColor(),
                  path: [{lat:  Number(obj.lat), lng:  Number(obj.lng), date: obj.date}]
                });
              } else {
                people[k].path.push({lat:  Number(obj.lat), lng:  Number(obj.lng), date: obj.date})
              }
            });
            people.forEach(function (person) {
              addPath(person)
            });
            lastUpdate = (new Date()).getTime();
          });
          xhr.send();
        }

        function addMarker(location, name, number) {
          map.setCenter(location);
          var d = (new Date ());
          d.setTime(location.date);
          var infowindow = new google.maps.InfoWindow({
            content: '<h3>' + name + '</h3><p><%=texts.PHONE_NUMBER %>: ' +  number + '</p><p><%=texts.COORDINATES_GOT_AT %>: ' +  d.getHours() + 'h' + d.getMinutes() + '</p>'
          });
          var marker = new google.maps.Marker({
            position: location,
            map: map
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }

        function addPath (person) {
          var path = new google.maps.Polyline({
            path: person.path,
            geodesic: true,
            strokeColor: person.color,
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          path.setMap(map);
          person.path.forEach(function (location) {
            addMarker(location, person.name, person.number);
          });
        };

        function peopleExists (obj, people) {
          for (var k in people) {
           if (people[k].name == obj.contact){
             return k;
           }
          }
          return false;
        }

        function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }



    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key %>&callback=initMap"></script>
  </body>
</html>
